# Build folder
build
dist

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules

# Cache directories
.npm
.awcache

# OS X
.DS_STORE

# TypeScript
typings
